<ion-app>
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Jaguar Delivery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- <img src="../assets/image/asd.png" alt=""> -->
    <ion-grid fixed>
      <ion-row>
        
        <ion-col >
          <img src="../assets/image/asd.png" alt="">
          <ion-item color="light">
            <ion-label>Inicio de Sesion</ion-label>
          </ion-item>
        </ion-col>
        
      </ion-row>
      <ion-row>
        
        <ion-col>
          <ion-item>
            <ion-label >Usuario</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        
      </ion-row>
      <ion-row>
        
        <ion-col>
          <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        
      </ion-row>
      <ion-row>
        
        <ion-col>
          <ion-item color="light">
            <ion-select [interfaceOptions]="customAlertOptions" placeholder="Elija su categoria" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="garzon">Garzon</ion-select-option>
              <ion-select-option value="cocina">Cocina</ion-select-option>
              <ion-select-option value="administrador">Administrador</ion-select-option>
              <ion-select-option value="caja">Caja</ion-select-option>
              <ion-select-option value="repartidor">Repartidor</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>