<ion-content>
  <ion-button (click)="nuevoPedido()" >Nuevo Pedido</ion-button>
  <div *ngIf= "enableNuevoPedido" >
    <ion-item color="light">
      <ion-label position="floating" >Nombre Cliente</ion-label>
      <ion-input [(ngModel)]="pedido.nombre" ></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label position="floating" >Mesa n°</ion-label>
      <ion-input [(ngModel)]="pedido.mesa"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label position="floating">Menu</ion-label>
      <ion-input [(ngModel)]="pedido.menu"></ion-input>
    </ion-item>

    <ion-button (click)="agregarPedido()">Crear</ion-button>
  </div>

  
</ion-content>